actorcritic/Models/*
actorcritic/__pycache__/*
__pycache__/*
actorcritic/vec_rot.txt
actorcritic/logs/logCRAZY.txt
actorcritic/logs/logTEST.txt
actorcritic/.ipynb_checkpoints/*
*.ttt
*.pkl
.ipynb_checkpoints/*
scene/*
actorcritic/trpo/__pycache__/*
lowrep/__pycache__/*
lowrep/.ipynb_checkpoints/*
.vscode/*
vec_rot.txt
actorcritic/logs/*
experiments/ezTask/ddpg.ckpt*
actorcritic/Untitled.ipynb
actorcritic/TerrianMapExp.ipynb
lowrep/firstshot.pt
lowrep/walk test.ipynb
experiments/ezTask/__pycache__/*
tf_DDPG/logs/*
firstshot3.pt
experiments/ezTask/checkpoint
